# user-svc environment variables

# either development or production
MODE=development

# The following levels are available:
#  trace, debug, info, warn, error, fatal, panic
LOG_LEVEL=debug

# The port on which the the service will listen on (default: 8080)
PORT=8080

# port on which the dapr sidecar listens on
# in prod this is managed by the dapr-sidecar-injector
DAPR_HTTP_PORT=

# Database Related Configurations
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=helpwave
POSTGRES_PASSWORD=helpwave
POSTGRES_DB=user-svc

