# task-svc environment variables

# either development or production
MODE=development

# The following levels are available:
#  trace, debug, info, warn, error, fatal, panic
LOG_LEVEL=debug

# The port on which the the service will listen on (default: 8080)
PORT=8080

# Database Related Configurations
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=postgres

# Provide an alternative oauth / oidc issuer to auth.helpwave.de
# should only used for local development!
OAUTH_ISSUER_URL=

# the provided oauth / oidc client id for this service
OAUTH_CLIENT_ID=
